<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Test level</string>
	<key>id</key>
	<string>test</string>
	<key>nextLevel</key>
	<string>none</string>
	<key>preLevelTextPath</key>
	<string>test_intro.txt</string>
	<key>effects</key>
	<array>
		<dict>
			<key>name</key>
			<string>GDParticleStarfield</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GDParticleFog</string>
			<key>startColor</key>
			<dict>
				<key>r</key>
				<real>0.9</real>
				<key>g</key>
				<real>0.8</real>
				<key>b</key>
				<real>1</real>
				<key>a</key>
				<real>0</real>
			</dict>
		</dict>
	</array>
	<key>spawners</key>
	<array>
		<dict>
			<key>sprite</key>
			<dict>
				<key>initialSpeed</key>
				<integer>80</integer>
				<key>scale</key>
				<real>0.5</real>
				<key>name</key>
				<string>ship1.png</string>
			</dict>
			<key>howLong</key>
			<integer>5</integer>
			<key>howMany</key>
			<integer>10</integer>
			<key>animation</key>
			<string>SimpleSpiralInClockwise</string>
			<key>time</key>
			<string>3</string>
		</dict>
	</array>
	<key>howLong</key>
	<integer>60</integer>
</dict>
</plist>
